<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div class="navbar-default sidebar" role="navigation" id="left-menu">
	     <div class="sidebar-nav navbar-collapse">
	         <ul class="nav" id="side-menu">
	             <!-- <li class="sidebar-search">
	                 <div class="input-group custom-search-form">
	                     <input type="text" class="form-control" placeholder="Search..."/>
	                     <span class="input-group-btn">
	                     <button class="btn btn-default" type="button">
	                         <i class="fa fa-search"></i>
	                     </button>
	                 </span>
	                 </div>
	             </li> -->
	             <!-- <li>
	                 <a href="index.html"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
	             </li> -->
	             
	             <li th:each="menu:${menus.children('root')}">
	                 <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i>
	                	<label th:text="${menu.menuTitle}">系统管理</label>
	                 <span class="fa arrow"></span></a>
	                 
	                 <ul class="nav nav-second-level">
	                     <li th:each="menuc:${menus.children(menu.menuName)}">
	                         <a href="javascript:void(0);" th:onclick="'menuManager(this, \'' + ${menuc.action} + '\');'" th:text="${menuc.menuTitle}" onclick="menuManager(this, '/admin/user/list');">用户管理</a>
	                     </li>
	                 </ul>
	                 
	                 <!-- /.nav-second-level -->
	             </li>
	             
	         </ul>
	     </div>
	     <!-- /.sidebar-collapse -->
	 </div>
            
    <!-- /.navbar-static-side -->
    <script type="text/javascript">

         function menuManager(e, action){
             $.ajax({url:action,success:function(result){
                 $("#page-wrapper").html(result);
             }});
         }

	</script>
	
</html>