<div class="content_body">
	<h1 class="site-h1">系统说明与规范</h1>
	<blockquote class="layui-elem-quote">weeds提供开发的aoi(Application of intelligent)智能管理系统，以免费开源实用为理念，
				为广大开发者或需要的人提供有效工具。其中的规范和格式需要严格遵守，并拒绝用于商业用途！工具会不定期更新，有需要的朋友可以反馈.<p></p>
	</blockquote>
	<p style="margin-bottom: 20px; text-align: center">
      <img src="/images/grasses.jpg" />
    </p>
    <fieldset class="layui-elem-field layui-field-title site-title">
      <legend><a name="grid">1. 金额提取</a></legend>
    </fieldset>
    <div class="site-text">
      <p>市面上有很多从文本内容中提取原数据的api,针对概念、命名实体等提取,其中少不了进行文本分析、NLP、情感分析等。
      	但是对于国内的复杂情形和业务，几乎没有可以使用的组件。受此启发，进行了短语中金额、余额、尾号(特别适用于银行短信)分析。
      	主要用到切词、关键字、距离、分词等多种相结合的算法开发出来
      </p>
    </div>  
    <fieldset class="layui-elem-field layui-field-title site-title">
      <legend><a name="grid">2. IP解析</a></legend>
    </fieldset>
    <div class="site-text">
      <p>可以获取本机的内外网IP，并可以根据IP进行反向解析，改接口非自创，只是整合并封装接口，便捷开发者直接使用</p>
    </div>  
    <fieldset class="layui-elem-field layui-field-title site-title">
      <legend><a name="grid">3. 经纬度转换</a></legend>
    </fieldset>
    <div class="site-text">
      <p>网页工具：整合距离两点间的距离计算与经纬度与度分秒之间的转换工具，便捷实用</p>
    </div>  
    <blockquote class="layui-elem-quote layui-quote-nm" style="text-align: center; margin-top: 25px;">
                     微信(guangtouXuan),QQ(61611853),邮箱(61611853@qq.com)
    </blockquote>
</div>