<style type="text/css">
	.layui-timeline-title h2{
		display:inline-block;
	}
</style>
<div class="content_body">
    <h1 class="site-h1">更新日志</h1>
    <ul class="layui-timeline">
      <li class="layui-timeline-item">
        <i class="layui-icon layui-timeline-axis"></i>
        <div class="layui-timeline-content layui-text">
          <div class="layui-timeline-title">
            <h2>1.0.0</h2>
            <span class="layui-badge-rim">2018-07-01</span>
          </div>
          	正式登场
        </div>
      </li>
      
      <li class="layui-timeline-item">
        <i class="layui-icon layui-timeline-axis"></i>
        <div class="layui-timeline-content layui-text">
          <div class="layui-timeline-title">闷了10年</div>
        </div>
      </li> 
      
    </ul>
    
    <div class="layui-elem-quote">
  	<p>weeds就为你服务</p>
</div>
    
  </div>