<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.weeds.pand.service.system.mapper.BannerMapper">
  <resultMap id="BaseResultMap" type="com.weeds.pand.service.system.domain.Banner">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="status" jdbcType="BIGINT" property="status" />
    <result column="img_url" jdbcType="VARCHAR" property="imgUrl" />
    <result column="img_order" jdbcType="BIGINT" property="imgOrder" />
  </resultMap>
  <select id="selectAll" parameterType="map" resultMap="BaseResultMap">
    select id, create_time, update_time, status, img_url, img_order
    from banner where 1=1  
    <if test="status != null">
	    and status = #{status} 
    </if>
    order by img_order
  </select>
</mapper>