<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--由GenEntityMysql类自动生成Tue Jan 22 10:29:32 CST 2019@xuanxy -->

<mapper namespace="com.weeds.pand.service.system.mapper.RongcloudTokenMapper">

	<resultMap id="BaseResultMap" type="com.weeds.pand.service.system.domain.RongcloudToken">
		<id column="id" jdbcType="VARCHAR" property="id" />
		<result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
		<result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
		<result column="user_id" jdbcType="VARCHAR" property="userId" />
		<result column="nick_name" jdbcType="VARCHAR" property="nickName" />
		<result column="token" jdbcType="VARCHAR" property="token" />
		<result column="head_img" jdbcType="VARCHAR" property="headImg" />
	</resultMap>


   <!-- 查询集合 -->
   <select id="getRongcloudTokenList" parameterType="map" resultMap="BaseResultMap">
       select * from rongcloud_token where 1=1 
       <if test="userId != null">
       		and user_id = #{userId}
       </if>
       <if test="token != null">
       		and token = #{token}
       </if>
       order by create_time desc 
       <if test="begin != null">
           limit #{begin},#{end}
       </if>
   </select>


   <!-- 查询集合总数 -->
   <select id="getRongcloudTokenCount" parameterType="map" resultType="int">
       select count(1) from rongcloud_token where 1=1 
   </select>


</mapper>

