<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--由GenEntityMysql类自动生成Mon Jan 21 18:46:33 CST 2019@xuanxy -->

<mapper namespace="com.weeds.pand.service.system.mapper.SmsSendMapper">

	<resultMap id="BaseResultMap" type="com.weeds.pand.service.system.domain.SmsSend">
		<id column="id" jdbcType="VARCHAR" property="id" />
		<result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
		<result column="phone" jdbcType="VARCHAR" property="phone" />
		<result column="content" jdbcType="VARCHAR" property="content" />
		<result column="type" jdbcType="BIGINT" property="type" />
		<id column="id" jdbcType="VARCHAR" property="id" />
		<result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
		<result column="phone" jdbcType="VARCHAR" property="phone" />
		<result column="content" jdbcType="VARCHAR" property="content" />
		<result column="type" jdbcType="BIGINT" property="type" />
	</resultMap>


   <!-- 查询集合 -->
   <select id="getSmsSendList" parameterType="map" resultMap="BaseResultMap">
       select * from sms_send where 1=1 
       <if test="phone != null">
       		and phone = #{phone}
       </if>
       order by create_time desc 
       <if test="begin != null">
           limit #{begin},#{end}
       </if>
   </select>
   <select id="getSmsSendByPhone" parameterType="String" resultMap="BaseResultMap">
       select * from sms_send where 1=1 
       where phone=#{phone}
       order by create_time desc 
       limit 1
   </select>


   <!-- 查询集合总数 -->
   <select id="getSmsSendCount" parameterType="map" resultType="int">
       select count(1) from sms_send where 1=1 
   </select>


</mapper>

