ul li{list-style: none;}
.flow-left{
    border: 1px solid green;
    padding: 0px;
}
.flow-right{
    border: 1px solid green;
    height: 641px;
    padding: 0px;
    border-left: none;
	overflow-y: auto;
}
.flow-footer{
  height: 150px;
    border: none;
    border-top: 1px solid green;
   overflow-y: auto;
}
input[type="radio"] + label::before {
    content: "\a0"; /*不换行空格*/
    display: inline-block;
    vertical-align: middle;
    font-size: 18px;
    width: 1em;
    height: 1em;
    margin-right: .4em;
    border-radius: 50%;
    border: 1px solid #01cd78;
    text-indent: .15em;
    line-height: 1; 
}
input[type="radio"]:checked + label::before {
    background-color: #01cd78;
    background-clip: content-box;
    padding: .2em;
}
input[type="radio"] {
    position: absolute;
    clip: rect(0, 0, 0, 0);
}
#panel-primary input[type="radio"] {
    position: absolute;
    clip:auto;
	z-index:1000;
}
.modal-left,.modal-right{
  height: 400px;
  border: 1px solid green;
  border-radius: 5px;
  padding: 10px;
  overflow-y: auto;
}
.seleadd {
    width: 50px;
    margin: 140px auto;
}
.seleadd ul li {
    cursor: pointer;
}
.seleaddli1 {
    border: 1px solid green;
    background: green;
    border-radius: 5px;
}
.seleaddli2 {
    border: 1px solid red;
    background: red;
    border-radius: 5px;
}
.panel-heading{cursor: pointer;}
.panel-heading i{float:right;}