<html xmlns:th="http://www.thymeleaf.org">
<script type="text/javascript">
         </script>
	<div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="menuModalLabel">编辑菜单</h4>
            </div>
            <div class="modal-body">
                 <form id="updateMenuForm"  class="form-horizontal" 
                      data-bv-message="This value is not valid"
                      data-bv-feedbackicons-valid="glyphicon glyphicon-ok"
                      data-bv-feedbackicons-invalid="glyphicon glyphicon-remove"
                      data-bv-feedbackicons-validating="glyphicon glyphicon-refresh" th:object="${menu}">
                      <div class="form-group">
                        <label class="col-lg-3 control-label">名称</label>
                        <label class="col-lg-5" th:text="*{menuName}"></label>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label">标题</label>
                        <div class="col-lg-5">
                            <input class="form-control" name="menuTitle" th:value="*{menuTitle}" type="text" required="required" data-bv-notempty-message="标题不能为空"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label">上级菜单</label>
                        <div class="col-lg-5">
                            <input class="form-control" name="parentName" th:value="*{parentName}" type="text" required="required" data-bv-notempty-message="上级菜单不能为空"/>
                        </div>
                    </div>
                     <div class="form-group">
                        <label class="col-lg-3 control-label">请求地址</label>
                        <div class="col-lg-5">
                            <input type="text" class="form-control" name="action" th:value="*{action}"/>
                        </div>
                    </div>
		             
                    <div class="form-group">
                     <label class="col-lg-3 control-label">图标</label>
                     <div class="col-lg-5">
                         <input type="text" class="form-control" name="icon" th:value="*{icon}"/>
                     </div>
                    </div>                    
                    <div class="form-group">
						<label class="col-lg-3 control-label">排序</label>
						<div class="col-lg-5">						
						<input type="number" class="form-control" min="1" name="oderBy" th:value="*{oderBy}" style="padding-right:5px;"/>
						</div>
					</div>
					
					<div class="form-group">
						<label class="col-lg-3 control-label">菜单触发函数</label>
						<div class="col-lg-5">
							<input type="text" class="form-control" name="menuFunction" th:value="*{menuFunction}"/>
						</div>
					</div>
					<div class="form-group">
						<label class="col-lg-3 control-label">菜单样式名</label>
						<div class="col-lg-5">
							<input type="text" class="form-control" name="menuStyleClass" th:value="*{menuStyleClass}"/>
						</div>
					</div>
					<div class="form-group">
						<label class="col-lg-3 control-label">菜单样式</label>
						<div class="col-lg-5">
							<textarea class="form-control" name="menuStyle" rows="6" th:text="*{menuStyle}"></textarea>
						</div>
					</div>
					
					                                                            
                    <div class="form-group">
                        <label class="col-lg-3 control-label">状态</label>
                        <div class="col-lg-5">
                            <div class="radio">
                                <label>
                                    <input type="radio" name="status" value="1" th:checked="${menu.status eq 1}?'true'"  required="required" data-bv-notempty-message="The gender is required" /> 使用
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="status" value="0" th:checked="${menu.status eq 0}?'true'"/> 禁用
                                </label>
                            </div>
                            <div shiro:hasRole="admin" class="radio">
                            	<label>
                                    <input type="radio" name="status" value="2" th:checked="${menu.status eq 2}?'true'"/> 关闭
                                </label>
                            </div>                    
                        </div>
                    </div>
                    
                 	<input type="hidden" class="form-control" name="menuName" th:value="*{menuName}"/>

                    <div class="form-group">
                        <div class="col-lg-9 col-lg-offset-3">
                            <button type="button" class="btn" data-dismiss="modal">取消</button>
                            <button type="submit" class="btn btn-primary">修改</button>
                        </div>
                    </div>
                </form>
                </div>
         </div><!-- /.modal-content -->
</html>