<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--由GenEntityMysql类自动生成Mon Oct 22 16:04:37 CST 2018@xuanxy -->

<mapper namespace="com.weeds.pand.service.pandcore.mapper.PandServiceMapper">

	<resultMap id="BaseResultMap" type="com.weeds.pand.service.pandcore.domain.PandService">
		<id column="id" jdbcType="VARCHAR" property="id" />
		<result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
		<result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
		<result column="pand_user_id" jdbcType="VARCHAR" property="pandUserId" />
		<result column="service_type_id" jdbcType="VARCHAR" property="serviceTypeId" />
		<result column="service_tilte" jdbcType="VARCHAR" property="serviceTilte" />
		<result column="service_des" jdbcType="VARCHAR" property="serviceDes" />
		<result column="service_info" jdbcType="VARCHAR" property="serviceInfo" />
		<result column="service_city" jdbcType="VARCHAR" property="serviceCity" />
		<result column="service_area" jdbcType="VARCHAR" property="serviceArea" />
		<result column="service_price" jdbcType="VARCHAR" property="servicePrice" />
		<result column="service_scope" jdbcType="VARCHAR" property="serviceScope" />
		<result column="service_invoice" jdbcType="BIGINT" property="serviceInvoice" />
		<result column="service_status" jdbcType="BIGINT" property="serviceStatus" />
		<result column="qr_url" jdbcType="VARCHAR" property="qrUrl" />
		<result column="service_address" jdbcType="VARCHAR" property="serviceAddress" />
		<result column="service_lat" jdbcType="VARCHAR" property="serviceLat" />
		<result column="service_lng" jdbcType="VARCHAR" property="serviceLng" />
		<result column="service_distance" jdbcType="VARCHAR" property="serviceDistance" />
		
		<collection property="images" column="{modelId=id}" 
			select="com.weeds.pand.service.system.mapper.PandImagesMapper.getPandImagesList"></collection>
			
		<collection property="issuser" column="{pandUserId=pand_user_id}" 
			select="getPandUserIssusObj"></collection>
		<collection property="shoperInfo" column="{pandUserId=pand_user_id}" 
			select="getPandShoperJsonObj"></collection>
		
	</resultMap>
	
   <select id="getPandUserIssusObj" parameterType="map" resultType="com.weeds.pand.service.mechanic.domain.PandUserJson">
		select user_nickname userNickname,user_headpng userHeadpng from pand_user where id=#{pandUserId}
	</select>
   <select id="getPandShoperJsonObj" parameterType="map" resultType="com.weeds.pand.service.mechanic.domain.PandShoperJson">
		select shop_tel shopTel,shop_img shopImg ,shop_name shopName from pand_shop where pand_user_id=#{pandUserId}
	</select>
   <select id="getPandServiceListQrNull" parameterType="map" resultMap="BaseResultMap">
   		select * from pand_service where service_status != 5 and qr_url is null 
   </select>
   <!-- 查询集合 -->
   <select id="getPandServiceList" parameterType="map" resultMap="BaseResultMap">
       select ps.*
       <if test="distanceSelect != null">
       		,truncate((st_distance (point (service_lng, service_lat),point(#{serviceLng},#{serviceLat}) ) / 0.0111),2) AS service_distance 
       </if>
       from pand_service ps where 1=1 
       <if test="pandUserId != null">
       		and ps.pand_user_id = #{pandUserId}
       </if>
       <if test="serviceTypeId != null">
       		and ps.service_type_id = #{serviceTypeId}
       </if>
       <if test="serviceTilte != null">
       		and ps.service_tilte = #{serviceTilte}
       </if>
       <if test="startPrice != null">
	    	and ps.service_price &gt;= #{startPrice}
	   </if>
       <if test="endPrice != null">
	    	and ps.service_price &lt;= #{endPrice}
	   </if>
       <if test="serviceStatus != null">
       		and ps.service_status = #{serviceStatus}
       </if>
       <if test="serviceStatus == null">
       		and ps.service_status != 5
       </if>
       <if test="serviceIdList != null">
       		and ps.id in
		    <foreach item="item" index="index" collection="serviceIdList" open="(" separator="," close=")">
			 	#{item}
			</foreach>
       </if>
       <if test="serviceInvoice != null">
       		and ps.service_invoice = #{serviceInvoice}
       </if>
       <if test="contents != null">
       		and  (
		    	ps.service_tilte like CONCAT(CONCAT('%', #{contents}), '%')
		    	or ps.service_des like CONCAT(CONCAT('%', #{contents}), '%')
		    	or ps.service_info like CONCAT(CONCAT('%', #{contents}), '%')
		    	or ps.service_address like CONCAT(CONCAT('%', #{contents}), '%')
	    		)
       </if>
       <if test="sortType==4"><!-- 4价格降序 -->
       		order by ps.service_price desc
       </if>
       <if test="sortType==5"><!-- 5价格升序 -->
       		order by ps.service_price 
       </if>
       <if test="sortType==0"><!-- 时间降序 -->
	       order by ps.update_time desc 
       </if>
       <if test="sortType==3"><!-- 距离排序 由近到远 -->
	       order by service_distance  
       </if>
       <if test="sortType==6"><!-- 搜索附件  10公里以内 -->
	       HAVING service_distance &lt;= 10
       </if>
       <if test="begin != null">
           limit #{begin},#{end}
       </if>
   </select>
   <!-- 查询集合总数 -->
   <select id="getPandServiceCount" parameterType="map" resultType="int">
       select count(1) from pand_service where 1=1 
   </select>
   
   <delete id="deleteCollectService" parameterType="string">
	    delete from pand_user_collection 
	    where service_id = #{serviceId}
   </delete>
   
   <!-- 查询单个对象 -->
   <select id="getPandServiceObject" parameterType="map" resultMap="BaseResultMap">
       select * from pand_service where 1=1 
       <if test="id != null">
       		and id = #{id}
       </if>
       <if test="pandUserId != null">
       		and pand_user_id = #{pandUserId}
       </if>
       <if test="serviceTypeId != null">
       		and service_type_id = #{serviceTypeId}
       </if>
       <if test="serviceTilte != null">
       		and service_tilte = #{serviceTilte}
       </if>
       <if test="serviceStatus != null">
       		and service_status = #{serviceStatus}
       </if>
       <if test="contents != null">
       		and  (
		    	service_tilte like CONCAT(CONCAT('%', #{contents}), '%')
		    	or service_des like CONCAT(CONCAT('%', #{contents}), '%')
		    	or service_info like CONCAT(CONCAT('%', #{contents}), '%')
		    	or service_address like CONCAT(CONCAT('%', #{contents}), '%')
	    		)
       </if>
       limit 1
   </select>


</mapper>

