<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--由GenEntityMysql类自动生成Tue Oct 23 12:35:31 CST 2018@xuanxy -->

<mapper namespace="com.weeds.pand.service.pandcore.mapper.PandShopMapper">

	<resultMap id="BaseResultMap" type="com.weeds.pand.service.pandcore.domain.PandShop">
		<id column="id" jdbcType="VARCHAR" property="id" />
		<result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
		<result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
		<result column="pand_user_id" jdbcType="VARCHAR" property="pandUserId" />
		<result column="shop_tel" jdbcType="VARCHAR" property="shopTel" />
		<result column="shop_name" jdbcType="VARCHAR" property="shopName" />
		<result column="shop_des" jdbcType="VARCHAR" property="shopDes" />
		<result column="shop_time" jdbcType="VARCHAR" property="shopTime" />
		<result column="shop_img" jdbcType="VARCHAR" property="shopImg" />
		<result column="shop_status" jdbcType="BIGINT" property="shopStatus" />
	</resultMap>


   <!-- 查询集合 -->
   <select id="getPandShopList" parameterType="map" resultMap="BaseResultMap">
       select * from pand_shop where 1=1 
       <if test="pandUserId != null">
        	and pand_user_id = #{pandUserId}
       </if>
       <if test="shopStatus != null">
        	and shop_status = #{shopStatus}
       </if>
       order by create_time desc 
       <if test="begin != null">
           limit #{begin},#{end}
       </if>
   </select>
   
   <!-- 查询单个对象 -->
   <select id="getPandShopObject" parameterType="map" resultMap="BaseResultMap">
       select * from pand_shop where 1=1 
       <if test="id != null">
        	and id = #{id}
       </if>
       <if test="shopStatus != null">
        	and shop_status = #{shopStatus}
       </if>
       <if test="pandUserId != null">
        	and pand_user_id = #{pandUserId}
       </if>
       limit 1
   </select>


   <!-- 查询集合总数 -->
   <select id="getPandShopCount" parameterType="map" resultType="int">
       select count(1) from pand_shop where 1=1 
   </select>


</mapper>

