<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--由GenEntityMysql类自动生成Thu Nov 15 12:31:50 CST 2018@xuanxy -->

<mapper namespace="com.weeds.pand.service.pandcore.mapper.PandUserCommentMapper">

	<resultMap id="BaseResultMap" type="com.weeds.pand.service.pandcore.domain.PandUserComment">
		<id column="id" jdbcType="VARCHAR" property="id" />
		<result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
		<result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
		<result column="pand_user_id" jdbcType="VARCHAR" property="pandUserId" />
		<result column="service_id" jdbcType="VARCHAR" property="serviceId" />
		<result column="order_id" jdbcType="VARCHAR" property="orderId" />
		<result column="status" jdbcType="BIGINT" property="status" />
		<result column="skilled_score" jdbcType="DOUBLE" property="skilledScore" />
		<result column="attitude_score" jdbcType="DOUBLE" property="attitudeScore" />
		<result column="efficiency_score" jdbcType="DOUBLE" property="efficiencyScore" />
		<result column="anonymous" jdbcType="BIGINT" property="anonymous" />
		<result column="comment" jdbcType="VARCHAR" property="comment" />
		
		<collection property="images" column="{modelId=id}" 
			select="com.weeds.pand.service.system.mapper.PandImagesMapper.getPandImagesList"></collection>
			
		<collection property="issuser" column="{pandUserId=pand_user_id}" 
			select="com.weeds.pand.service.pandcore.mapper.PandServiceMapper.getPandUserIssusObj"></collection>
	</resultMap>
	
	<resultMap id="pageBaseResultMap" type="com.weeds.pand.service.pandcore.domain.PandUserComment" extends="BaseResultMap">
		<result column="user_nickname" jdbcType="VARCHAR" property="userNickname" />
		<result column="service_tilte" jdbcType="VARCHAR" property="serviceTitle" />
	</resultMap>


   <!-- 查询集合 -->
   <select id="getPandUserCommentList" parameterType="map" resultMap="BaseResultMap">
       select * from pand_user_comment where 1=1 
       <if test="id != null">
       		and id = #{id}
       </if>
       <if test="serviceId != null">
       		and service_id = #{serviceId}
       </if>
       <if test="pandUserId != null">
       		and pand_user_id = #{pandUserId}
       </if>
       <if test="status != null">
       		and status = #{status}
       </if>
       order by create_time desc 
       <if test="begin != null">
           limit #{begin},#{end}
       </if>
   </select>
   <select id="getPandCommentListPage" parameterType="com.weeds.pand.service.pandcore.pagevo.PandOrderQueryParam" 
   					resultMap="pageBaseResultMap">
       select po.*,pu.user_nickname,ps.service_tilte from pand_user_comment po 
		left JOIN pand_user pu on pu.id = po.pand_user_id
		left join pand_service ps on ps.id = po.service_id 
		where 1=1 
       <if test="pandUserId != null and pandUserId != ''">
       		and po.pand_user_id = #{pandUserId}
       </if>
       <if test="status != null and status != ''">
       		and po.status = #{status}
       </if>
       <if test="serviceId != null and serviceId != ''">
       		and po.service_id = #{serviceId}
       </if>
       <if test="contents != null and contents !=''">
       		and  po.comment like CONCAT(CONCAT('%', #{contents}), '%')
       </if>
       <if test="startTime != null and startTime!=''">
	    	and  po.create_time &gt;= #{startTime}
	    </if>
	    <if test="endTime != null and endTime!=''">
	    	and po.create_time &lt;#{endTime}
	    </if>
       order by po.create_time desc
   </select>


   <!-- 查询集合总数 -->
   <select id="getPandUserCommentCount" parameterType="map" resultType="int">
       select count(1) from pand_user_comment where 1=1 
   </select>


</mapper>

