<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--由GenEntityMysql类自动生成Tue Nov 13 14:26:25 CST 2018@xuanxy -->

<mapper namespace="com.weeds.pand.service.pandcore.mapper.PandOrderMapper">

	<resultMap id="BaseResultMap" type="com.weeds.pand.service.pandcore.domain.PandOrder">
		<id column="id" jdbcType="VARCHAR" property="id" />
		<result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
		<result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
		<result column="pand_user_id" jdbcType="VARCHAR" property="pandUserId" />
		<result column="service_id" jdbcType="VARCHAR" property="serviceId" />
		<result column="shop_id" jdbcType="VARCHAR" property="shopId" />
		<result column="pand_shoper_id" jdbcType="VARCHAR" property="pandShoperId" />
		<result column="address" jdbcType="VARCHAR" property="address" />
		<result column="time_period" jdbcType="VARCHAR" property="timePeriod" />
		<result column="service_count" jdbcType="BIGINT" property="serviceCount" />
		<result column="message" jdbcType="VARCHAR" property="message" />
		<result column="status" jdbcType="BIGINT" property="status" />
		<result column="service_money" jdbcType="DOUBLE" property="serviceMoney" />
		<result column="order_num" jdbcType="VARCHAR" property="orderNum" />
		<result column="contact_phone" jdbcType="VARCHAR" property="contactPhone" />
		<result column="contact_name" jdbcType="VARCHAR" property="contactName" />
	</resultMap>
	<resultMap id="pageBaseResultMap" type="com.weeds.pand.service.pandcore.domain.PandOrder" extends="BaseResultMap">
		<result column="user_nickname" jdbcType="VARCHAR" property="userNickname" />
		<result column="shop_user_head" jdbcType="VARCHAR" property="shopUserHead" />
		<result column="service_tilte" jdbcType="VARCHAR" property="serviceTitle" />
	</resultMap>


   <!-- 查询集合 -->
   <select id="getPandOrderList" parameterType="map" resultMap="pageBaseResultMap">
       select po.*,pu.user_nickname,pu.user_headpng shop_user_head,ps.service_tilte from pand_order po 
	   left JOIN pand_user pu on pu.id = po.pand_user_id
	   left join pand_service ps on ps.id = po.service_id 
	   where 1=1
       <if test="pandUserId != null">
       		and po.pand_user_id = #{pandUserId}
       </if>
       <if test="orderNum != null">
       		and po.order_num = #{orderNum}
       </if>
       <if test="status != null">
       		and po.status = #{status}
       </if>
       <if test="status == null">
       		and po.status != 2
       </if>
       <if test="serviceId != null">
       		and po.service_id = #{serviceId}
       </if>
       <if test="shopId != null">
       		and po.shop_id = #{shopId}
       </if>
       <if test="pandShoperId != null">
       		and po.pand_shoper_id = #{pandShoperId}
       </if>
       <if test="filterComment != null">
       		and po.service_id not in 
		 	(select service_id from pand_user_comment where pand_user_id = #{pandUserId} and status=0) 
       </if>
       
       order by po.create_time desc 
       <if test="begin != null">
           limit #{begin},#{end}
       </if>
   </select>
   <select id="getPandOrderListPage" parameterType="com.weeds.pand.service.pandcore.pagevo.PandOrderQueryParam" 
   					resultMap="pageBaseResultMap">
       select po.*,pu.user_nickname,ps.service_tilte from pand_order po 
		left JOIN pand_user pu on pu.id = po.pand_user_id
		left join pand_service ps on ps.id = po.service_id 
		where 1=1 
       <if test="pandUserId != null and pandUserId != ''">
       		and po.pand_user_id = #{pandUserId}
       </if>
       <if test="status != null and status != ''">
       		and po.status = #{status}
       </if>
       <if test="serviceId != null and serviceId != ''">
       		and po.service_id = #{serviceId}
       </if>
       <if test="contents != null and contents !=''">
       		and  po.order_num like CONCAT(CONCAT('%', #{contents}), '%')
       </if>
       <if test="startTime != null and startTime!=''">
	    	and  po.create_time &gt;= #{startTime}
	    </if>
	    <if test="endTime != null and endTime!=''">
	    	and po.create_time &lt;#{endTime}
	    </if>
       order by po.create_time desc 
   </select>


   <!-- 查询集合总数 -->
   <select id="getPandOrderCount" parameterType="map" resultType="int">
       select count(1) from pand_order where 1=1 
   </select>

   <!-- 获取当天最大订单编号 -->
   <select id="getMaxOrderNumNowDay" parameterType="string" resultType="long">
       select max(order_num) from pand_order where date(create_time)=#{dateStr}
   </select>


</mapper>

