<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--由GenEntityMysql类自动生成Tue Oct 30 15:53:07 CST 2018@xuanxy -->

<mapper namespace="com.weeds.pand.service.pandcore.mapper.PandAuditLogMapper">

	<resultMap id="BaseResultMap" type="com.weeds.pand.service.pandcore.domain.PandAuditLog">
		<id column="id" jdbcType="VARCHAR" property="id" />
		<result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
		<result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
		<result column="pand_user_id" jdbcType="VARCHAR" property="pandUserId" />
		<result column="content" jdbcType="VARCHAR" property="content" />
		<result column="audit_type" jdbcType="BIGINT" property="auditType" />
	</resultMap>


   <!-- 查询集合 -->
   <select id="getPandAuditLogList" parameterType="map" resultMap="BaseResultMap">
       select * from pand_audit_log where 1=1 
       <if test="pandUserId != null">
       		and pand_user_id = #{pandUserId}
       </if>
       <if test="auditType != null">
       		and audit_type = #{auditType}
       </if>
       order by create_time desc 
       <if test="begin != null">
           limit #{begin},#{end}
       </if>
   </select>


   <!-- 查询集合总数 -->
   <select id="getPandAuditLogCount" parameterType="map" resultType="int">
       select count(1) from pand_audit_log where 1=1 
   </select>


</mapper>

