<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>AOI智能管理-后台管理</title>

    <!-- Bootstrap Core CSS -->
    <link href="/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/assets/datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet" media="screen"/>
    <!-- Custom Fonts -->
    <link href="/assets/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
	<!-- zTree CSS -->
	<link rel="stylesheet" href="/assets/zTree/css/zTreeStyle/zTreeStyle.css"/>
    <!-- MetisMenu CSS -->
    <link href="/vendor/metisMenu/metisMenu.min.css" rel="stylesheet"/>

    <!-- Custom CSS -->
    <link href="/css/sb-admin-2.css" rel="stylesheet"/>

    <!-- Morris Charts CSS -->
    <link href="/vendor/morrisjs/morris.css" rel="stylesheet"/>

	<!-- Validator CSS -->
    <link rel="stylesheet" href="/assets/validator/css/bootstrapValidator.css"/>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="/assets/html5shiv/html5shiv.js"></script>
        <script src="/assets/respond/respond.min.js"></script>
    <![endif]-->

</head>
<body>
    <div id="wrapper">


           <!--/*/ <th:block th:include="fragments/main-left"/> /*/-->
           <!--/*/ <th:block th:include="fragments/main-top"/> /*/-->

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h3 class="page-header">欢迎进入系统管理</h3>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="/assets/jquery/jquery.min.js"></script>
    <script src="/assets/jquery/jquery.form.min.js"></script>

    <script src="/js/sb-admin-2.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <!-- validator -->
    <script type="text/javascript" src="/assets/validator/js/bootstrapValidator.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="/vendor/metisMenu/metisMenu.min.js"></script>

    <!-- Morris Charts JavaScript -->
    <!-- <script src="/vendor/raphael/raphael.min.js"></script>
    <script src="/vendor/morrisjs/morris.min.js"></script>
    <script src="/data/morris-data.js"></script> -->


    <!-- Custom Theme JavaScript -->
    <script type="text/javascript" src="/js/sb-admin-2.min.js"></script>
    <script type="text/javascript" src="/layer/layer.js"></script>
    <!-- DataTables JavaScript -->

    <script type="text/javascript">
    var dataTablesLanguage = {
        "sProcessing": "处理中...",
        "sLengthMenu": "显示 _MENU_ 项结果",
        "sZeroRecords": "没有匹配结果",
        "sInfo": "显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",
        "sInfoEmpty": "显示第 0 至 0 项结果，共 0 项",
        "sInfoFiltered": "(由 _MAX_ 项结果过滤)",
        "sInfoPostFix": "",
        "sSearch": "搜索:",
        "sUrl": "",
        "sEmptyTable": "表中数据为空",
        "sLoadingRecords": "载入中...",
        "sInfoThousands": ",",
        "oPaginate": {
            "sFirst": "首页",
            "sPrevious": "上页",
            "sNext": "下页",
            "sLast": "末页"
        },
        "oAria": {
            "sSortAscending": ": 以升序排列此列",
            "sSortDescending": ": 以降序排列此列"
        }
    };
    </script>
    <script src="/assets/datatables/js/jquery.dataTables.js"></script>
    <script src="/assets/datatables-plugins/dataTables.bootstrap.js"></script>
<!--     <script src="/assets/datatables-responsive/dataTables.responsive.js"></script> -->

    <!-- zTree JavaScript -->
    <script src="/assets/zTree/js/jquery.ztree.core.js" type="text/javascript"></script>
	<script src="/assets/zTree/js/jquery.ztree.excheck.js" type="text/javascript"></script>
	<script type="text/javascript" src="/assets/datetimepicker/js/bootstrap-datetimepicker.min.js" charset="UTF-8"></script>
	<script type="text/javascript" src="/assets/datetimepicker/js/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>
	<script type="text/javascript" src="/assets/layer/layer.js"></script>

	</body>

</html>
